/* Banner Style */

.banner {
  position: relative;
  height: 448px;
  object-fit: contain;
  color: #fff;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__description {
  width: 45rem;
  line-height: 1.3em;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
}

.banner--fadeBottom {
  height: 7.4rem;
  background-image:
    linear-gradient(
      180deg,
      transparent,
      #2525259c,
      #111
    );
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  margin-right: 1rem;
  padding: 0.5rem 2rem;
  background-color: #33333382;
}

.banner__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
