.nav {
  position: fixed;
  top: 0;
  padding: 20px;
  width: 100%;
  height: 30px;
  z-index: 10;
  transition: all 0.5s;
  transition-timing-function: ease-in;
}

.nav__contents {
  display: flex;
  justify-content: space-between;
}

.nav__black {
  background-color: #000;
}

.nav__logo {
  position: fixed;
  left: 0;
  width: 80px;
  object-fit: contain;
  padding-left: 20px;
  cursor: pointer;
  background-color: gray;
}

.nav__avatar {
  position: fixed;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: gray;
  border-radius: 50%;
}
